
.form-input {
	box-sizing: border-box;
	border: none;
	outline: 0;
	padding: 0;
	font-weight: 100;
	font-size: 40px;
	line-height: 1;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyCAIAAAAbcoanAAAABnRSTlMA/wD/AP83WBt9AAAAGElEQVQoU2P4jwoYRvmj/JHMf/bsBTICAIgv6cRim1utAAAAAElFTkSuQmCC) repeat-x 0 -14px;
}

.contact-form {
	text-align: left;
	width: 100%;
}

.contact-form p {
	width: 100%;

}

.form-input {
	width: 100%;
}

.form-input#name, .form-input#email{
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

.form-input#message {
	resize: none;
}

.form-container {
    width:50%;
    margin: 0 auto;
}

p.action {
	margin-left: 25%; /*Bacup*/
	margin-left: calc(50% - 150px);
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    padding: 0 2.5em;
    position: relative;
    background: 0 0;
    border: none;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: .476em;
    color: #8dc53e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(254, 97, 89, .5);
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -o-transition: .15s;
    transition: .15s;

    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.button:before, .button:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.button:after, .button .helper {
    opacity: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.button:before {
    border: 2px solid #8dc53e
}

.button:after {
    content: attr(data-title);
    z-index: 1;
    color: #fff
}

.button .helper {
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: -webkit-linear-gradient(left, #d5dfc7 0, #8dc53e 100%);
    background-image: -moz-linear-gradient(left, #d5dfc7 0, #8dc53e 100%);
    background-image: -o-linear-gradient(left, #d5dfc7 0, #8dc53e 100%);
    background-image: linear-gradient(to right, #d5dfc7 0, #8dc53e 100%);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

.button:hover:after, .button:active:after, .button:hover .helper, .button:active .helper {
    opacity: 1
}

@media (max-width:600px) {
    .button {
        height: 40px;
        font-size: 9px;
        line-height: 40px
    }
}

::selection {
    background: #fe6159;
    color: #fff
}

