#intro-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow:hidden;
  z-index: -100;
}

#video_background {
  width: 100%;
}

#intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.little-header {
}
.main-body-text {
  font-size: 68px;
  text-align: center;
    padding: 0;
  margin: 0;
}
.bottom {
}