#intro-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  color: white;
}

.full-screen-bg {
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}

#video_background {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

#intro-content {
  position: absolute;
  width: 100%;
}

.title-container {
  width: 100%;
  font-size: 36px;
}

.main-body-container {
  width: 80%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-body-text {
  position: relative;
  font-size: 75px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 75px;
}

.bottom-container {
  width: 100%;
  font-size: 20px;
}


/* word-cycling */
.word {
  position:absolute;
  left:0;
  width: 100vw;
}
.letters {
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
}