/*******Global******/

body
{
    font-family: 'proxima-nova',sans-serif;
    font-weight: 300;

    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #000;

    overflow: hidden;

    -webkit-font-smoothing: antialiased;
}

.center_align
{
    margin-right: auto;
    margin-left: 0;
}
h1
{
    font-size: 40px;
}

.vertical-align
{
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

div.text-wrap
{
    display: block;

    margin-right: auto;
    margin-left: auto;

    color: white;
}
.section1 div.text-wrap
{
    font-size: 60px;

    width: 400px;
}

.section2 div.text-wrap
{
    font-size: 50px;

    width: 600px;
}

.section3 div.text-wrap
{
    font-size: 50px;

    width: 600px;
}

div.text-wrap p
{
    width: 100%;
    margin: 0;

    text-align: center;
}

section
{
    height: 100vh;
    min-height: 600px;

    color: black;
}

.section1
{
    z-index: 999;

    background-color: #000;
    background-image: url(../resources/images/back1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.section2
{
    position: relative;
    z-index: 888;
    bottom: 100vh;
    left: 0;

    width: 100%;

    background-color: #000;
    background-image: url(../resources/images/back2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.section3
{
    position: relative;
    z-index: 777;
    bottom: 200vh;
    left: 0;

    width: 100%;

    background-color: #000;
    background-image: url(../resources/images/back3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.section4
{
    z-index: 999999;

    text-align: center;

    color: black;
    background-color: white;
}

.section4 h1
{
    font-size: 40px;

    margin: 20px;
}

.section4 #Section4Description
{
    font-size: 20px;

    color: gray;
}

.section5
{
    z-index: 9999;

    margin: 0;
    padding-top: 50px;

    text-align: center;

    color: gray;
    background-image: url(../resources/images/background/works_5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.section5 h1
{
    margin: 20px;
}

.section5 #Section5Description
{
    font-size: 20px;

    color: gray;
}

.section6
{
    z-index: 999;

    text-align: center;

    color: black;
    background-color: white;
}

.section6 h1
{
    margin: 20px;
}

.section6 #Section6Description
{
    font-size: 20px;

    color: gray;
}

.section7
{
    z-index: 999;

    text-align: center;

    color: black;
    background-color: white;
}

.section7 h1
{
    margin: 20px;
}

.section8
{
    z-index: 999;

    text-align: center;

    color: gray;
    background-color: black;
}

.section8 h1
{
    margin: 20px;
}
/****
Works
*****/
#work-flex-container
{
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
            flex-direction: row;

    margin: 0;
    padding: 0;

    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: center;
            align-content: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.work-flex
{
    width: 25%;
    min-width: 10%;
    max-width: 420px;

    margin: 0;
    padding: 0;
}

/**GLOBAL**/

.container
{
    position: relative;
    top: 50%;

    max-width: 990px;
    margin-right: auto;
    margin-left: auto;

    -webkit-transform: translateY(-webkit-calc(-50% - 150px));
       -moz-transform: translateY(-moz-calc(-50% - 150px));
        -ms-transform: translateY(c-ms-alc(-50% - 150px));
         -o-transform: translateY(-o-calc(-50% - 150px));
            transform: translateY(calc(-50% - 150px));
}

.horizontalDividerSpan
{
    width: 54px;
    height: 1px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    background-color: black;
}



.scrollContent
{
    width: 100%;
    height: 100%;
    margin: auto;
}

.spacer
{
    min-height: 100px;

    text-align: center;
}
.spacer.s0
{
    min-height: 1px;
}
.spacer.s1
{
    min-height: 100px;
}
.spacer.s2
{
    min-height: 200px;
}
.spacer.s3
{
    min-height: 300px;
}
.spacer.s4
{
    min-height: 400px;
}
