.tweets .tweet {
  position: relative;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  color: black;
}

.spotify_images {
  width: 30%;
  padding: 0 !important;
  margin: 0 !important;
}

.tweets > a 
.tweets > a:link
.tweets > a:active
.tweets > a:visited
.tweets > a:hover {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.instagram_images {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.instagram_images:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}