body,
html {
  background-color: white;
  color: white !important;
}

hr {
  width: 20vw;
  margin-left: 35vw;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }
}

.font {
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: 100 !important;
  -webkit-font-smoothing: antialiased !important;
}

.sections {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.slick-dots {
  margin-left: 0 !important;
}


/*********
SECTION 1
INTRO
*********/

#section1 {
  background-image: url("../img/section1/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section1-header {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.section1-header h1 {
  color: white;
  font-size: 25px;
  font-size: 3.5vw;
}

.section1-header h2 {
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-size: 12vw;
  line-height: 12vw;
}

.section1-header span {
  color: white;
  font-size: 10px;
  line-height: 10px;
  font-size: 3.5vw;
  line-height: 3.5vw;
}

.logo {
  padding-left: 10px;
}


/*********
SECTION 2
Clients!
*********/

#section2 {
  height: 160vh !important;
}

#section2-header {
  width: 90vw;
  margin: 0;
  margin-left: 5vw;
  margin-right: 5vw;
}

#section2-header h1 {
  color: black;
  font-size: 11vw;
  line-height: 7vw;
}

#section2-header p {
  color: black;
  font-size: 4vw;
  line-height: 6vw;
}

.client-image {
  height: 35vh;
  width: auto;
  padding-bottom: 20vh;
}


/*********
SECTION 3
Our Work
*********/

#section3 {
  background-image: url("../img/section3/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 50vh;
}

#section3-header {
  width: 90vw;
  margin: 0;
}

#section3-header h1 {
  color: white;
  font-size: 11vw;
  line-height: 7vw;
}

#section3-header p {
  color: lightgray;
  font-size: 4vw;
  line-height: 6vw;
}


/*********
section 4 
works carousel
**********/

#section4 {
  background-color: white;
}

.section4-image h1 {
  font-size: 5vw;
  line-height: 4vw;
}

.section4-image span {
  display: block;
  color: gray;
  font-size: 4vw;
  line-height: 6vw;
  width: 80vw;
  margin-left: 11vw;
}


/*********
SECTION 5
What we Offer
*********/

#section5 {}

#section5 .body {
  background-color: lightgoldenrodyellow;
}

#section5-header h1 {
  color: black;
  font-size: 11vw;
  line-height: 7vw;
}

#section5-header p {
  color: darkgray;
  font-size: 4vw;
  line-height: 6vw;
}

.section5-works {
  height: 300px;
}


/*********
SECTION 6
Social
*********/

#section6 {
  background-color: black;
}

#section6-header {
  width: 90vw;
  margin: 0;
  margin-left: 5vw;
  margin-right: 5vw;
}

#section6-header h4 {
  color: lightgray;
}

#section6-header p {
  color: lightgray;
  font-size: 8vw;
}

#section6-header h2 {
  color: lightgray;
  font-size: 50px;
  line-height: 50px;
}


/********
MENU OVERRIDES!
*********/

#m_menu {
  background: none;
  background-color: transparent!important;
  text-align: -webkit-auto;
  height: 38px;
}

.top-bar.expanded {
  height: auto !important;
}